<h4>Add Documents</h4>
<hr>
<label>Property List</label>
<select (change)="filterForeCasts($event.target.value)" class="select-control">
  <option value="0">--Select Property--</option>
  <option *ngFor="let property of propertyDropdownValue" value={{property}}>
    {{property}}
  </option>
</select>
<br />
<br />
<div class="panel panel-default">
  <div class="panel-body">

    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <label>Choose File</label>
        <input type="file" #file placeholder="Upload file" (change)="uploadFile(file.files)" class="upload-control">
        <button type="button" class="btn btn-success" (click)="file.click()" style="display:none">Upload File</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2>Property Document Master Repository</h2>
  <p>A document management system to track, manage and store documents and reduce paper.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success" *ngFor="let file of files">
        <td>{{file}}</td>
        <td><input type="button" placeholder="Download" value="Download" (click)="download(file)" class="btn-info" /></td>
        <td><input type="button" placeholder="Delete" value="Delete" (click)="delete(file)" class="btn-info" /></td>
      </tr>
    </tbody>
  </table>
</div>
